> # CST1510 Programming for data communication and networks
> # Week 1 Lab – Python Foundations
<hr style="border:2px solid gray">

This session introduces Python’s core building blocks: variables, data types, and input/output operations. These fundamentals support all later work in this module.

---

## Topics
- Variables and data types (`int`, `float`, `str`, `bool`)
- Input (`input()`) and output (`print()`), single/double quotes and escape sequences
- Comments and basic Python syntax (PEP8 naming)
- Numeric and augmented assignment operators
- Built-in functions (`type`, `len`, `round`, `min`, `max`, `sum`)
- Importing simple built-in modules

---

## Lab Structure
Tasks are grouped by difficulty:
- **Threshold** – essential skills
- **Typical** – applied tasks
- **Excellent** – extended challenges
- **Stretch (Optional)** – enrichment problems

At the end, select 1–2 tasks for your portfolio.

## Problem-Solving & Pseudocode (Brief)

1. **Inputs/Outputs** – identify required inputs (types/units) and desired outputs (format/precision).
2. **Steps** – list actions in order: read → convert → compute → display.
3. **Translate** – convert each step to code with clear variable names and f-strings.
4. **Test** – try typical and edge values; verify units and formatting.

**Worked example – Rectangle calculator**

- Inputs: width, height (numbers)  
- Outputs: area and perimeter (2 d.p.)

```python
width = float(input("Width: "))
height = float(input("Height: "))
area = width * height
perimeter = 2 * (width + height)
print(f"Area = {area:.2f}")
print(f"Perimeter = {perimeter:.2f}")
```

# Threshold Tasks

### Threshold 1. Questionnaire

Write a program that asks for name, interest, nationality, course, and programming experience, then prints a formatted summary using escape sequences (`\n`, `\t`).

**Example Output:**
```
User Information:
	Name: Alice
	Interest: Security
	Nationality: UK
	Course: Cyber
	Experience: Beginner
```

In [1]:
Name = input("Enter your name: ")
Interest = input("Enter your interest: ")
Nationality = input("Enter your nationality: ")
Course = input("Enter your course: ")
Experience = input("experience level: ")

print("\nUser Information:")
print("\tName:\t\t" + Name)
print("\tInterest:\t" + Interest)
print("\tNationality:\t" + Nationality)
print("\tCourse:\t\t" + Course)
print("\tExperience:\t" + Experience)

Enter your name: Mubashir
Enter your interest: Driving
Enter your nationality: Pakistan
Enter your course: IT
experience level: Student

User Information:
	Name:		Mubashir
	Interest:	Driving
	Nationality:	Pakistan
	Course:		IT
	Experience:	Student

### Threshold 2. Rectangle Area & Perimeter

Calculate and print the area and perimeter of a rectangle using fixed values: width = 4.5 and height = 7.9.
Formulas: `area = width * height`, `perimeter = 2 * (width + height)`.

**Example Output:**
```
Area = 35.55
Perimeter = 24.80
```

In [16]:
Width = 4.5
Height = 7.9

Area = Width * Height
Perimeter = 2 * (Width + Height)

print(f"Area = {Area:.2f}")
print(f"Perimeter = {Perimeter:.2f}")

Area = 35.55
Perimeter = 24.80

### Threshold 3. Convert Pounds to Kilograms

Ask the user for a value in pounds, convert to kilograms using `1 lb = 0.454 kg`, and print the result.

**Example Output:**
```
55.5 pounds is 25.197 kilograms
```

In [15]:
Pound_to_kg = 0.454

Pounds = float(input("Enter weight in pounds: "))
Kilograms = Pounds * Pound_to_kg

print(f"{Pounds} pounds is {Kilograms:.3f} kilograms")

Enter weight in pounds: 25
25.0 pounds is 11.350 kilograms

### Threshold 4. Convert Feet to Meters

Ask the user for a value in feet, convert to meters using `1 ft = 0.305 m`, and print the result.

**Example Output:**
```
16.5 feet is 5.0325 meters
```

In [14]:
Feet_to_meters = 0.305

Feet = float(input("Enter length in feet: "))
Meters = Feet * Feet_to_meters

print(f"{Feet} feet is {Meters:.4f} meters")

Enter length in feet: 16.5
16.5 feet is 5.0325 meters

### Quick Check (no code submission)
- What data type does `input()` return? Use `type(input("x"))` to verify.  
- Show one example of an escape sequence in `print()`.  
- What is the difference between `/` and `//`? Provide a one-line example for each.

# Typical Tasks

### Typical 1. Total Time to Watch a Series

Compute total viewing time (no breaks) for a series:
- 5 seasons, 10 episodes per season
- Season 1: 45 minutes 35 seconds per episode
- Seasons 2–5: 35 minutes 15 seconds per episode
Display the total as hours, minutes, and seconds.

**Example Output:**
```
Total time: 39h 30m 0s
```

In [12]:
Seasons = 5
Episodes_per_season = 10

Season1_duration = 45 * 60 + 35
Season2_5_duration = 35 * 60 + 15
Total_seconds = (Episodes_per_season * Season1_duration) + \
                ((Seasons - 1) * Episodes_per_season * Season2_5_duration)
Hours = Total_seconds // 3600
Minutes = (Total_seconds % 3600) // 60
Seconds = Total_seconds % 60

print(f"Total time: {Hours}h {Minutes}m {Seconds}s")

Total time: 31h 5m 50s

### Typical 2. Savings Projection (3 Years)

Compute final savings after 3 years given:
- Save £10 every week for 3 years
- Year 1 bonus: +£20 each week
- Every 2 weeks: −£0.50 (sister)
Assume 52 weeks per year; use arithmetic and augmented assignment; no conditionals.

**Example Output:**
```
Final savings after 3 years: £4689.50
```

In [11]:
Weekly_saving = 10
Year1_bonus = 20
Sister_take_per_2weeks = 0.50
Weeks_per_year = 52
Total_years = 3
Savings = 0.0

for week in range(Weeks_per_year):
    Savings += Weekly_saving + Year1_bonus
    Savings -= Sister_take_per_2weeks / 2

for year in range(2, Total_years + 1):
    for week in range(Weeks_per_year):
        Savings += Weekly_saving
        Savings -= Sister_take_per_2weeks / 2

print(f"Total savings after 3 years: £{Savings:.2f}")

Total savings after 3 years: £2561.00

### Typical 3. Cyber: HTTP Log Composer

Ask for IP, method, path, status, and bytes, then print a single combined log line (Apache-style).

**Example Output:**
```
192.168.1.10 - "POST /auth" 401 512
```

In [10]:
Ip = input("Enter IP address: ")
Method = input("Enter HTTP method: ")
Path = input("Enter request path: ")
Status = input("Enter status code: ")
Bytes_sent = input("Enter bytes sent: ")

Log_line = f'{Ip} - "{Method} {Path}" {Status} {Bytes_sent}'
print(Log_line)

Enter IP address: dasd
Enter HTTP method: dasdw
Enter request path: sdsa
Enter status code: sdad
Enter bytes sent: asd
dasd - "dasdw sdsa" sdad asd

### Typical 4. Data Science: Dataset Metadata

Ask for dataset name, rows, and columns. Print:
- dataset name in quotes
- rows and columns
- total cells (rows × columns)

**Example Output:**
```
"sales.csv"
Rows: 120
Columns: 8
Cells: 960
```

In [ ]:
Dataset_name = input("Enter dataset name: ")
Rows = int(input("Enter number of rows: "))
Columns = int(input("Enter number of columns: "))

Cells = Rows * Columns

print(f'"{Dataset_name}"')
print(f"Rows: {Rows}")
print(f"Columns: {Columns}")
print(f"Cells: {Cells}")

### Typical 5. IT: INI-style Config Printer

Ask for three `key=value` pairs (via separate prompts) and print them as an INI block with indentation.

**Example Output:**
```
[config]
	max_connections = 200
	timeout = 30
	region = eu-west-2
```

# Excellent Tasks

### Excellent 1. Cyber: Timestamped Auth Event

Ask for a username and action (e.g., `LOGIN` or `LOGOUT`) and print a timestamped event line.

**Example Output:**
```
[2025-09-17 14:20:15] LOGIN user=alice
```


*Optional hint:* `from datetime import datetime; datetime.now().strftime(...)`

### Excellent 2. Data Science: Mini Statistics Report

Ask for five numeric values (space-separated). Print the values, total, mean, median, and sample standard deviation.

**Example Output:**
```
Values: 80, 90, 70, 85, 75
Total = 400.00
Mean = 80.00
Median = 80.00
Std Dev = 7.91
```


*Optional hint:* `import statistics as stats`

### Excellent 3. IT: Path Decomposition Report

Ask for a file or directory path and print its absolute path, parent, name, stem, and suffix.

**Example Output:**
```
Absolute path: /home/user/project/service.log
Parent: /home/user/project
Name: service.log
Stem: service
Suffix: .log
```


*Optional hint:* `from pathlib import Path`

In [19]:
from pathlib import Path

Path_input = input("Enter file or directory path: ")

p = Path(Path_input)

print(f"Absolute path: {p.resolve()}")
print(f"Parent: {p.parent}")
print(f"Name: {p.name}")
print(f"Stem: {p.stem}")
print(f"Suffix: {p.suffix}")

Enter file or directory path: service.log
Absolute path: /content/service.log
Parent: .
Name: service.log
Stem: service
Suffix: .log

### Excellent 4. System Info Banner

Ask for a hostname and print OS and Python version as a simple banner (one value per line).

**Example Output:**
```
Host: server01
OS: Linux
Python: 3.11.5
```


*Optional hint:* `import platform; platform.system(); platform.python_version()`

# Stretch

### Stretch 1. Sum of First n Integers

Ask for a positive integer `n` and compute the sum `n*(n+1)//2`. Print the result.

**Example Output:**
```
Sum of 1..10 = 55
```

In [ ]:
# Your code here

### Stretch 2. Pentagon Area

Ask for the side length `s` and compute the area: `area = 5*s**2 / (4*tan(pi/5))`. Print to 2 d.p.

**Example Output:**
```
Area = 172.05
```


*Optional hint:* `from math import tan, pi`

In [ ]:
# Your code here

### Stretch 3. Population Projection (5 Years)

Assume current population is 312032486 and 1 year = 365 days.
Rates: birth every 7s, death every 13s, immigrant every 45s.
Compute projected population for each of the next 5 years using integer division (`//`).

**Example Output:**
```
Year 1: 315,xxx,xxx
...
Year 5: ...
```


*Optional hint:* Compute yearly net change once; then add each year.

In [ ]:
# Your code here

### Stretch 4. Payroll Statement

Ask for: employee name, hours worked, hourly rate, federal tax rate, state tax rate.
Print a formatted payroll slip with gross pay, each deduction, and net pay (2 d.p.).

**Example Output:**
```
Employee: Smith
Gross pay: £97.50
Federal withholding: £19.50
State withholding: £8.78
Net pay: £69.22
```

In [ ]:
# Your code here

---

## Portfolio
Select one or two completed activities that best demonstrate this week’s learning. Polish the code (naming, formatting, comments) so you can commit them to Git in later weeks